.login {
    background: linear-gradient(#f6f5f5, #1f3c88);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(130vh - 272px);
}
.login__container {
    background-color: rgba(255,255,255,0.2);
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    padding: 60px 60px 45px;
    min-height: 350px;
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}


